{% extends 'libfjordweb/base.html' %}
{% load i18n %}
{% load static %}

{% block after_head %}
{% endblock %}

{% block banner %}
{% endblock %}

{% block page_header %}
{% endblock %}

{% block full_width_header %}

<h1>Lib Fjord Web Demo App</h1>

{% endblock %}

{% block link %}
{% endblock %}

{% block bottomcontent1 %}
{% endblock %}

{% block topcontent1 %}
{% endblock %}

{% block bottomcontent3 %}
{% endblock %}

{% block about %}
{% endblock %}

{% block version_link %}
{% endblock %}
